# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# Environment variables
.env

# Chroma database
app/.chroma_db/
spike/.chroma_cache_v2/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db